# ⚙️ Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# 🧠 IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# 💻 VSCode
.vscode/

# 📱 Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages

# 🧪 Symbolication
app.*.symbols

# 🔒 Obfuscation
app.*.map.json

# 🤖 Android builds
/android/app/debug
/android/app/profile
/android/app/release

# 🌐 Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
